
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,600,900" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=LAto:300,400,600,900" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>
